{
  "wishlist": {
    "server_nas": "Server / NAS",
    "wasserkuehlung": "Wasserkühlung",
    "schreib-lesekopf": "Schreib-Lesekopf"
  },
  "projects": {
    "tvserver": "TV-Server",
    "lueftersteuerung": "Lüftersteuerung",
    "mpcnc": "MPCNC"
  },
  "credentials": {
    "ssh": { "user": "ubuntu", "password": "Admin!123"},
    "octoprint": { "user": "pi", "password": "Admin!123"},
    "db": { "user": "admin", "password": "Admin!123"},
    "phpmyadmin": { "user": "root", "password": "Admin!123"},
    "mqtt": { "user": "iobroker", "password": "1234"},
    "portainer": { "user": "admin", "password": "79^X$nG!"},
    "pihole": { "user": "", "password": "Admin!123"},
    "iobroker": { "user": "admin", "password": "R73xeh1pYMu*rQ@O2&zO"},
    "raspap": { "user": "000000", "password": "111111"},
    "website": { "user": "florian", "password": "12345678"},
    "api": { "user": "florian", "password": "12345678"},
    "tvheadend": { "user": "admin", "password": "admin"}
  }
}