{% extends 'base.html' %}

{% block title %}
Gekauft
{% endblock %}

{% block css %}
<link href="/static/css/bought.css" rel="stylesheet">
{% endblock %}


{% block content %}
        <h1>Gekauft</h1>

        <div id="notification_area"></div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#show">Anzeigen</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit">Bearbeiten</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="show" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped borderless" id="table">
                        <thead>
                        <tr>
                            <th><input id="check_all" type="checkbox"></th>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Anzahl</th>
                            <th>Preis einzeln</th>
                            <th>Preis gesamt</th>
                            <th>Jahr</th>
                        </tr>
                        </thead>
                        <tbody id="bought">
                        <tr>
                            <td colspan="8">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Gesamtpreis (alle ausgewählte Zeilen)</td>
                            <td></td>
                            <td id="preis_gesamt_eins"></td>
                            <td id="preis_gesamt_anzahl"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="edit" role="tabpanel">
                <div class="card">
                    <div class="card-header">Produkt hinzufügen</div>
                    <div class="card-body">
                        <div class="form-group" id="add_form">
                            <label for="beschreibung">Beschreibung:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="beschreibung"
                                   name="beschreibung" placeholder="Beschreibung" type="text">
                            <label for="link">Link:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="link" name="link"
                                   placeholder="Link" type="text">
                            <label for="bild">Bild:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="bild" name="bild"
                                   placeholder="Bild" type="text">
                            <label for="anzahl">Anzahl:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="anzahl" name="anzahl"
                                   placeholder="Anzahl" type="text">
                            <label for="preis">Preis:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="preis" name="preis"
                                   placeholder="Preis" type="text">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" id="save" type="submit">Speichern</button>
                        <button class="btn btn-secondary" id="reset" type="reset">Zurücksetzen</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/static/js/bought.js"></script>
{% endblock %}