{% extends 'base.html' %}

{% block title %}
RGB Controller
{% endblock %}

{% block css %}
<link href="/static/css/controllerRGB.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
{% endblock %}


{% block content %}
        <h1>RGB Controller</h1>

        <div id="notification_area"></div>
        <div class="row">
                <div class="col" id="picker"></div>
                <div class="col">
                        <ul class="nav nav-tabs" id="tab-nav">

                        </ul>
                        <div class="tab-content" id="tab-content">

                        </div>
                </div>
        </div>
{% endblock %}

{% block js %}
<script src="/static/js/controllerRGB.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
{% endblock %}