{% extends 'base.html' %}

{% block title %}
Wunschliste
{% endblock %}

{% block css %}
<link href="/static/css/wishlist.css" rel="stylesheet">
{% endblock %}


{% block content %}
        <div aria-hidden="true" class="modal fade" id="add_list" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new list</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="new_list">New list name:</label>
                        <input class="form-control form-control-sm" id="new_list" name="new_list" placeholder="New list name"
                               type="text">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" id="add_list_save" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Wunschliste</h1>

        <div id="notification_area"></div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#show">Anzeigen</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit">Bearbeiten</a></li>
            <li class="ml-auto">
                <form action="" class="form-inline" method="GET">
                    <label for="list">Liste auswählen:</label>
                    <select class="form-control ml-sm-3" id="list" name="list"></select>
                </form>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="show" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped borderless" id="table">
                        <thead>
                        <tr>
                            <th><input id="check_all" type="checkbox"></th>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Anzahl</th>
                            <th>Preis einzeln</th>
                            <th>Preis gesamt</th>
                        </tr>
                        </thead>
                        <tbody id="wish">
                        <tr>
                            <td colspan="7">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Gesamtpreis (alle ausgewählte Zeilen)</td>
                            <td></td>
                            <td id="preis_gesamt_eins"></td>
                            <td id="preis_gesamt_anzahl"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="edit" role="tabpanel">
                <div class="card">
                    <div class="card-header">Produkt hinzufügen</div>
                    <div class="card-body">
                        <div class="form-group" id="add_form">
                            <label for="beschreibung">Beschreibung:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="beschreibung"
                                   name="beschreibung" placeholder="Beschreibung" type="text">
                            <label for="link">Link:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="link" name="link"
                                   placeholder="Link" type="text">
                            <label for="bild">Bild:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="bild" name="bild"
                                   placeholder="Bild" type="text">
                            <label for="anzahl">Anzahl:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="anzahl" name="anzahl"
                                   placeholder="Anzahl" type="text">
                            <label for="preis">Preis:</label>
                            <input autocomplete="off" class="form-control form-control-sm" id="preis" name="preis"
                                   placeholder="Preis" type="text">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" id="save" type="submit">Speichern</button>
                        <button class="btn btn-secondary" id="reset" type="reset">Zurücksetzen</button>
                    </div>
                </div>

                <ul id="wish_edit">
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="/static/js/wishlist.js"></script>
{% endblock %}